@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;900&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-family: "Raleway", sans-serif;
  color: #2D3033;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}
.divider {
  display: block;
  border-bottom: 4px solid #F38281;
  width: 170px;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .divider {
    width: 148px;
  }
}
@media screen and (max-width: 530px) {
  .divider {
    width: 144px;
  }
}
.divider-small {
  display: block;
  border-bottom: 4px solid #F38281;
  width: 70px;
}
@media screen and (max-width: 1024px) {
  .divider-small {
    width: 47.5px;
  }
}
@media screen and (max-width: 730px) {
  .divider-small {
    width: 134px;
    margin: 0 auto;
  }
}
.divider-white {
  display: block;
  border-bottom: 4px solid #FFFFFF;
  width: 170px;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .divider-white {
    width: 148px;
  }
}
@media screen and (max-width: 530px) {
  .divider-white {
    width: 144px;
  }
}
.header {
  background-color: #000000;
  position: absolute;
  top: 0;
  z-index: 100;
  width: 100%;
}
.header .container {
  position: relative;
}
.header__wrapper {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.header__logo {
  margin-top: 48px;
  flex-shrink: 0;
  z-index: 1;
}
.header__nav {
  margin-top: 48px;
}
.header__nav .header__list {
  display: flex;
  height: 100%;
  align-items: center;
}
.header__nav .header__list li a {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0 30px;
  text-decoration: none;
}
.header__nav .header__list li a:hover {
  color: #F4BF87;
  text-decoration: underline;
}
.header__nav .header__list li img {
  margin: 0 30px;
}
.header__search {
  display: flex;
}
.header__burger {
  display: none;
  width: 24px;
  height: 18px;
  margin-right: 35px;
}
.header__mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100vh + 55px);
  background-image: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%), url(../images/baner_background.png);
  background-position: center;
  background-size: cover;
  transform: translateY(-100%);
  display: none;
  transition: all 0.8s ease-out;
  z-index: 1;
}
.header__mobile-menu.header__mobile-menu_active {
  transform: translateY(0);
}
.header__mobile-menu a {
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  min-width: 280px;
  min-height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .header__logo {
    flex-shrink: 0;
    z-index: 1;
    margin-top: 28px;
  }
  .header__nav {
    margin-top: 28px;
  }
  .header__nav .header__list li a {
    font-size: 13px;
    line-height: 15px;
    margin: 0 20px;
    text-decoration: none;
  }
  .header__nav .header__list li a img {
    margin: 0 20px;
  }
}
@media screen and (max-width: 670px) {
  .header__nav {
    display: none;
  }
  .header__burger {
    display: flex;
    margin: 0;
    padding: 25px 0 19px 0;
  }
  .header__mobile-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.burger {
  position: relative;
  margin: 0 auto;
  padding: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  background: transparent;
  border: none;
  z-index: 101;
}
.burger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 50%;
  background: #ffffff;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.burger span:nth-child(even) {
  left: 50%;
}
.burger span:nth-child(odd) {
  left: 0px;
}
.burger span:nth-child(1),
.burger span:nth-child(2) {
  top: 0px;
}
.burger span:nth-child(3),
.burger span:nth-child(4) {
  top: 7.5px;
}
.burger span:nth-child(5),
.burger span:nth-child(6) {
  top: 15px;
}
.burger.open span:nth-child(1),
.burger.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.burger.open span:nth-child(2),
.burger.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.burger.open span:nth-child(1) {
  left: 2px;
  top: 4px;
}
.burger.open span:nth-child(2) {
  left: calc(50% - 2px);
  top: 4px;
}
.burger.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}
.burger.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}
.burger.open span:nth-child(5) {
  left: 2px;
  top: 12px;
}
.burger.open span:nth-child(6) {
  left: calc(50% - 2px);
  top: 12px;
}
.about__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about__header {
  margin: 42px 0;
}
.about__text {
  padding: 18px 0;
  text-align: center;
}
.about__text h4 {
  font-family: "Kaushan Script", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
}
.about__title {
  padding: 19.5px 0;
  text-align: center;
  margin-bottom: 24px;
}
.about__title h2 {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
}
.about__info {
  padding: 38px 0;
  text-align: center;
}
.about__info h5 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.about__body {
  margin-bottom: 108px;
}
.about__cards {
  display: flex;
  flex-direction: row;
}
.about__cards-images {
  margin: 0 15px;
}
.about__cards-images:nth-child(1) {
  display: none;
}
.about__cards-images:nth-child(2) {
  position: relative;
}
.about__cards-images:nth-child(2)::after {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  bottom: 16px;
  right: 16px;
  content: "";
  z-index: 1;
  background-size: cover;
  background-image: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
}
.about__cards-images:nth-child(2) .team {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 122px;
}
.about__cards-images:nth-child(2) .team h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 36px;
}
.about__cards-images:nth-child(3) {
  position: relative;
}
.about__cards-images:nth-child(3) .team {
  display: none;
}
.about__cards-images:nth-child(4) {
  position: relative;
}
.about__cards-images:nth-child(4) .team {
  display: none;
}
@media screen and (max-width: 1024px) {
  .about__header {
    margin: 28px 0 41px 0;
  }
  .about__text {
    padding: 16.5px 0;
  }
  .about__text h4 {
    font-size: 24px;
    line-height: 35px;
  }
  .about__title {
    margin-bottom: 20px;
  }
  .about__title h2 {
    font-size: 24px;
    line-height: 28px;
  }
  .about__info {
    padding: 33px 0;
  }
  .about__info h5 {
    font-size: 14px;
    line-height: 16px;
  }
  .about__body {
    margin-bottom: 59px;
  }
  .about__cards {
    display: flex;
    flex-direction: row;
  }
  .about__cards-images {
    margin: 0 9px;
  }
  .about__cards-images:nth-child(2) {
    position: relative;
  }
  .about__cards-images:nth-child(2)::after {
    bottom: 7px;
    right: 7px;
  }
  .about__cards-images:nth-child(2) .team {
    margin-top: 100px;
  }
  .about__cards-images:nth-child(2) .team h5 {
    font-size: 18px;
    line-height: 21px;
    margin-top: 26px;
  }
}
@media screen and (max-width: 850px) {
  .about__cards-images:nth-child(2) .team {
    margin-top: 65px;
  }
}
@media screen and (max-width: 670px) {
  .about__cards {
    display: flex;
    flex-direction: column;
    margin: 0 16px;
  }
  .about__cards-images {
    margin: 16px 0;
  }
  .about__cards-images > img:first-child {
    width: 100%;
  }
  .about__cards-images::after {
    width: 100%;
    height: 33%;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    z-index: 1;
    background-size: cover;
    background-image: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
  }
  .about__cards-images:nth-child(1) {
    display: block;
    position: relative;
  }
  .about__cards-images:nth-child(1) .team {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: row;
    margin: 31px 0;
    padding-left: 18px;
  }
  .about__cards-images:nth-child(1) .team h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 36px;
  }
  .about__cards-images:nth-child(2) {
    display: none;
  }
  .about__cards-images:nth-child(3) {
    position: relative;
  }
  .about__cards-images:nth-child(3) .team {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: row;
    margin: 31px 0;
    padding-left: 18px;
  }
  .about__cards-images:nth-child(3) .team h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 36px;
  }
  .about__cards-images:nth-child(4) {
    position: relative;
  }
  .about__cards-images:nth-child(4) .team {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: row;
    margin: 31px 0;
    padding-left: 18px;
  }
  .about__cards-images:nth-child(4) .team h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 36px;
  }
}
.about-banner__container {
  max-width: 100%;
}
.about-banner__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #95E1D3;
}
.about-banner__body {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
@media screen and (max-width: 700px) {
  .about-banner__body {
    grid-template-columns: none;
    grid-template-areas: "a b" "c d" "e e";
  }
  .about-banner__body :nth-child(1) {
    grid-area: a;
  }
  .about-banner__body :nth-child(2) {
    grid-area: b;
  }
  .about-banner__body :nth-child(3) {
    grid-area: c;
  }
  .about-banner__body :nth-child(4) {
    grid-area: d;
  }
  .about-banner__body :nth-child(5) {
    grid-area: e;
  }
}
.about-banner__body .department {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #FFFFFF;
  border-style: hidden groove hidden groove;
}
@media screen and (max-width: 700px) {
  .about-banner__body .department {
    border-style: hidden hidden groove hidden;
  }
}
.about-banner__body .department h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  color: #FFFFFF;
  padding: 0 75px;
  margin: 87px 0 28px 0;
}
@media screen and (max-width: 1375px) {
  .about-banner__body .department h4 {
    padding: 0 65px;
  }
}
@media screen and (max-width: 1220px) {
  .about-banner__body .department h4 {
    padding: 0 55px;
  }
}
@media screen and (max-width: 1100px) {
  .about-banner__body .department h4 {
    padding: 0 50px;
  }
}
@media screen and (max-width: 1024px) {
  .about-banner__body .department h4 {
    font-size: 48px;
    line-height: 56px;
    padding: 0 45px;
    margin: 52px 0 28px 0;
  }
}
@media screen and (max-width: 870px) {
  .about-banner__body .department h4 {
    padding: 0 35px;
  }
}
@media screen and (max-width: 700px) {
  .about-banner__body .department h4 {
    padding: 0 55px;
    font-size: 48px;
    line-height: 56px;
    margin: 30px 0 28px 0;
  }
}
.about-banner__body .department h5 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  margin: 0 0 70px 0;
}
@media screen and (max-width: 1024px) {
  .about-banner__body .department h5 {
    margin: 0 0 34px 0;
  }
}
@media screen and (max-width: 700px) {
  .about-banner__body .department h5 {
    margin: 0 0 12px 0;
  }
}
.banner__container {
  max-width: 100%;
}
.banner__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%), url(../images/baner_background.png);
}
.banner__header {
  margin: 114px 0 116px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.banner__text {
  margin-top: 100px;
}
.banner__text h2 {
  font-family: "Kaushan Script";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 93px;
  color: #FFFFFF;
}
.banner__title {
  padding: 9px 0;
  margin-bottom: 44px;
}
.banner__title h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 144px;
  line-height: 176px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.banner__button {
  width: 370px;
  height: 80px;
  margin-bottom: 116px;
  margin-top: 72px;
}
.banner__button button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 4px solid #FFFFFF;
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: all 0.5s ease-in-out;
}
.banner__button button:hover {
  background-color: #FFFFFF;
  border-color: #F38281;
  color: #F38281;
}
.banner__progress {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 43px;
}
.banner__progress-line {
  flex-grow: 1;
  margin: 0 15px;
}
.banner__progress-info {
  display: flex;
}
.banner__progress-info h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.banner__progress-info h5 {
  padding: 17px 0 0 0;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}
.banner .scroll-line {
  border: 4px solid #FFFFFF;
  border-style: hidden hidden groove hidden;
}
@media screen and (max-width: 1024px) {
  .banner__header {
    margin: 72px 0 0 0;
  }
  .banner__text {
    margin-top: 72px;
  }
  .banner__text h2 {
    font-size: 48px;
    line-height: 70px;
  }
  .banner__title {
    padding: 8.5px 0;
    margin-bottom: 30px;
  }
  .banner__title h1 {
    font-size: 96px;
    line-height: 117px;
  }
  .banner__button {
    width: 318px;
    height: 54px;
    margin-bottom: 78px;
    margin-top: 50px;
  }
  .banner__button button {
    font-size: 18px;
    line-height: 21px;
  }
  .banner__progress {
    margin-bottom: 27px;
  }
  .banner__progress-line {
    flex-grow: 1;
    margin: 0 10px;
  }
  .banner__progress-info h4 {
    font-size: 24px;
    line-height: 28px;
  }
  .banner__progress-info h5 {
    padding: 10px 0 0 0;
    font-size: 14px;
    line-height: 16px;
  }
}
@media screen and (max-width: 670px) {
  .banner__text {
    margin-top: 55px;
  }
  .banner__text h2 {
    font-size: 36px;
    line-height: 52px;
  }
  .banner__title {
    padding: 60px 0;
    margin-bottom: 0;
    max-width: 251px;
  }
  .banner__title h1 {
    font-size: 48px;
    line-height: 58px;
  }
  .banner__button {
    width: 284px;
    height: 53px;
    margin-bottom: 54px;
    margin-top: 49px;
  }
  .banner__button button {
    font-size: 18px;
    line-height: 21px;
  }
  .banner__progress {
    margin-bottom: 42px;
  }
  .banner__progress-line {
    flex-grow: 1;
    margin: 0 10px;
  }
  .banner__progress-info {
    display: none;
  }
}
.blog__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.blog__header {
  margin-top: 84px;
  margin-bottom: 42px;
}
@media screen and (max-width: 1024px) {
  .blog__header {
    margin-top: 58px;
  }
}
.blog__text {
  padding: 18px 0;
  text-align: center;
}
.blog__text h4 {
  font-family: "Kaushan Script";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
}
@media screen and (max-width: 1024px) {
  .blog__text h4 {
    font-size: 24px;
    line-height: 35px;
  }
}
@media screen and (max-width: 730px) {
  .blog__text {
    padding: 21px 0;
  }
}
@media screen and (max-width: 1024px) {
  .blog__text {
    padding: 16px 0;
  }
}
.blog__title {
  padding: 20px 0;
  margin-bottom: 24px;
}
.blog__title h2 {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
}
@media screen and (max-width: 1024px) {
  .blog__title h2 {
    font-size: 24px;
    line-height: 28px;
  }
}
@media screen and (max-width: 1024px) {
  .blog__title {
    margin-bottom: 20px;
  }
}
.blog__body {
  display: flex;
  padding-left: 20px;
}
@media screen and (max-width: 730px) {
  .blog__body {
    flex-direction: column;
    padding-left: 0px;
  }
}
@media screen and (max-width: 320px) {
  .blog__body {
    flex-direction: column;
    padding-left: 15px;
  }
}
.blog__cards {
  padding-right: 15px;
}
@media screen and (max-width: 730px) {
  .blog__cards {
    padding-right: 0px;
    margin-bottom: 30px;
  }
}
.blog__cards.images {
  position: relative;
}
.blog__cards.images img {
  width: 370px;
  height: 253px;
}
@media screen and (max-width: 1024px) {
  .blog__cards.images img {
    width: 316px;
    height: 214px;
  }
}
@media screen and (max-width: 730px) {
  .blog__cards.images img {
    width: 288px;
    height: 214px;
  }
}
.blog__cards.images .date {
  background-color: #95E1D3;
  position: absolute;
  bottom: 25px;
  left: -14px;
  width: 80px;
  height: 80px;
  color: #FFFFFF;
  text-align: center;
  padding: 10px 0;
}
@media screen and (max-width: 1024px) {
  .blog__cards.images .date {
    width: 68px;
    height: 68px;
  }
}
@media screen and (max-width: 730px) {
  .blog__cards.images .date {
    bottom: 21px;
    left: 0;
  }
}
.blog__cards.images .date h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 30px;
  margin-bottom: 10px;
}
@media screen and (max-width: 1024px) {
  .blog__cards.images .date h5 {
    font-size: 24px;
    line-height: 20px;
  }
}
.blog__cards.images .date h6 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}
@media screen and (max-width: 1024px) {
  .blog__cards.images .date h6 {
    font-size: 14px;
    line-height: 20px;
  }
}
.blog__cards-title {
  margin-top: 30px;
  padding: 6px 0;
}
.blog__cards-title h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
@media screen and (max-width: 1024px) {
  .blog__cards-title h3 {
    font-size: 18px;
    line-height: 21px;
  }
}
.blog__cards-info {
  max-width: 369px;
  padding: 7.5px 0;
  margin-bottom: 22px;
}
@media screen and (max-width: 1024px) {
  .blog__cards-info {
    max-width: 317px;
    padding: 18.5px 0;
    margin-bottom: 19px;
  }
}
.blog__cards-info h5 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
@media screen and (max-width: 1024px) {
  .blog__cards-info h5 {
    font-size: 14px;
    line-height: 16px;
  }
}
.blog__cards-icons {
  display: flex;
  text-align: center;
  align-items: center;
  max-width: 205px;
}
.blog__cards-icons.seen {
  flex-grow: 1;
  justify-content: space-evenly;
}
.blog__cards-icons.comments {
  flex-grow: 1;
  justify-content: space-evenly;
}
.small-banner {
  margin-top: 89px;
}
@media screen and (max-width: 1024px) {
  .small-banner {
    margin-top: 62px;
  }
}
.small-banner__container {
  max-width: 100%;
}
.small-banner__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../images/small_banner.png);
  background-size: cover;
  position: relative;
}
.small-banner__body {
  margin-top: 46px;
  margin-bottom: 42px;
}
@media screen and (max-width: 1024px) {
  .small-banner__body {
    margin-top: 31px;
    margin-bottom: 29px;
  }
}
@media screen and (max-width: 530px) {
  .small-banner__body {
    margin-top: 46px;
    margin-bottom: 42px;
  }
}
.small-banner__sign {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 530px) {
  .small-banner__sign img {
    max-width: 42px;
    max-height: 42px;
  }
}
.small-banner__title {
  padding: 19.5px 0;
  margin-bottom: 24px;
}
@media screen and (max-width: 1024px) {
  .small-banner__title {
    padding: 13.5px 0;
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 530px) {
  .small-banner__title {
    padding: 26.5px 0;
    margin-bottom: 24px;
  }
}
.small-banner__title h2 {
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  color: #F38281;
}
@media screen and (max-width: 1024px) {
  .small-banner__title h2 {
    font-size: 24px;
    line-height: 28px;
  }
}
.design__container {
  max-width: 100%;
}
.design__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../images/design_background.png);
  background-size: cover;
  position: relative;
}
.design__header {
  margin-top: 42px;
  margin-bottom: 59px;
}
@media screen and (max-width: 1024px) {
  .design__header {
    margin-top: 28.5px;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 530px) {
  .design__header {
    margin-top: 43px;
    margin-bottom: 36.6px;
  }
}
.design__text {
  padding: 18px 0;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .design__text {
    padding: 9px 0;
  }
}
@media screen and (max-width: 530px) {
  .design__text {
    padding: 19px 0;
  }
}
.design__text h4 {
  font-family: "Kaushan Script", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 42px;
}
@media screen and (max-width: 1024px) {
  .design__text h4 {
    font-size: 24px;
    line-height: 34px;
  }
}
@media screen and (max-width: 530px) {
  .design__text h4 {
    font-size: 30px;
    line-height: 43px;
  }
}
.design__title {
  padding: 19px 0;
  text-align: center;
  margin-bottom: 24px;
}
@media screen and (max-width: 1024px) {
  .design__title {
    padding: 13px 0;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 530px) {
  .design__title {
    margin-bottom: 24px;
  }
}
.design__title h2 {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
}
@media screen and (max-width: 1024px) {
  .design__title h2 {
    font-size: 24px;
    line-height: 28px;
  }
}
@media screen and (max-width: 530px) {
  .design__title h2 {
    font-size: 36px;
    line-height: 42px;
  }
}
.design__body {
  margin-bottom: 57px;
}
@media screen and (max-width: 1024px) {
  .design__body {
    margin-bottom: 38.6px;
  }
}
@media screen and (max-width: 530px) {
  .design__body {
    margin-bottom: 25px;
  }
}
.design__body {
  position: relative;
  top: 0;
  left: 0;
}
.body__phone {
  position: absolute;
  top: 200px;
  right: -58px;
}
@media screen and (max-width: 1024px) {
  .body__phone {
    max-width: 135px;
    top: 143px;
    right: -39px;
  }
}
@media screen and (max-width: 530px) {
  .body__phone {
    max-width: 85px;
    top: 90px;
    right: 23px;
  }
}
.body__tablet {
  position: relative;
  top: 0;
  left: 0;
}
.body__tablet-background {
  position: relative;
  top: 0;
  left: 0;
}
@media screen and (max-width: 1024px) {
  .body__tablet-background {
    max-width: 446px;
  }
}
@media screen and (max-width: 530px) {
  .body__tablet-background {
    max-width: 274px;
  }
}
.body__tablet-frame {
  position: absolute;
  top: -18px;
  left: -248px;
  max-width: 1170px;
}
@media screen and (max-width: 1024px) {
  .body__tablet-frame {
    max-width: 793px;
    left: -176px;
  }
}
@media screen and (max-width: 530px) {
  .body__tablet-frame {
    max-width: 483px;
    left: -107px;
    top: -7px;
  }
}
.do__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.do__header {
  margin-top: 42px;
}
.do__text {
  padding: 18px 0;
  text-align: center;
}
.do__text h4 {
  font-family: "Kaushan Script", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
}
.do__title {
  padding: 19.5px 0;
  text-align: center;
  margin-bottom: 24px;
}
.do__title h2 {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
}
.do__info {
  padding: 38px 20px;
  text-align: center;
  margin-bottom: 42px;
}
.do__info h5 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.do__body {
  display: flex;
  margin-right: 15px;
}
.do__body-image {
  flex-grow: 1;
  margin-right: 30px;
}
.do__body-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.do__body-list__close:last-child {
  margin-bottom: 0;
}
.do__body-list__header {
  display: flex;
  border: 1px solid #C6CBCD;
  max-width: 570px;
  max-height: 92px;
  justify-content: space-between;
}
.do__body-list__header .sign {
  display: flex;
  align-items: center;
  padding-left: 21px;
  justify-content: center;
}
.do__body-list__header__title {
  padding: 32px 0;
  margin: 0 50px 0 44px;
}
.do__body-list__header__title h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.do__body-list__header__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
.do__body-list__body {
  max-width: 570px;
  border: 1px solid #C6CBCD;
  border-style: hidden groove groove groove;
  display: flex;
  max-height: 163px;
  margin-bottom: 20px;
}
.do__body-list__body h4 {
  padding: 12.5px 0;
  max-width: 463px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-left: 22px;
}
.do__body-list__body img {
  max-height: 128px;
  margin: 17px 24px 18px 54px;
}
.do__body-list__close {
  display: flex;
  flex-direction: row;
  border: 1px solid #C6CBCD;
  max-width: 570px;
  max-height: 92px;
  justify-content: space-between;
  margin-bottom: 20px;
}
.do__body-list__close .sign {
  display: flex;
  align-items: center;
  padding-left: 21px;
  justify-content: center;
}
.do__body-list__close__title {
  padding: 32px 0;
  margin: 0 50px 0 44px;
}
.do__body-list__close__title h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.do__body-list__close__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
.do-banner__container {
  max-width: 100%;
  background-color: #F8F8F8;
}
.do-banner__wrapper {
  margin: 114px 15px 0 15px;
  display: flex;
  justify-content: center;
}
.do-banner__reviews {
  display: flex;
}
.do-banner__reviews .arrows-left {
  padding-top: 120px;
}
.do-banner__reviews .diolog {
  display: flex;
  flex-direction: row;
  padding: 42px 0;
  margin: 0 60px;
}
.do-banner__reviews .diolog .avatar {
  margin-right: 30px;
}
.do-banner__reviews .profile h4 {
  padding: 6px 0;
  max-width: 770px;
  font-style: italic;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #A9AFB1;
}
.do-banner__reviews .profile .nickname {
  display: flex;
}
.do-banner__reviews .profile .nickname .divider-small {
  margin-bottom: 35px;
  margin-right: 56px;
}
.do-banner__reviews .profile .nickname h5 {
  margin-top: 21px;
  padding: 5px 0;
  font-family: "Kaushan Script";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
  color: #000000;
}
.do-banner__reviews .profile .dots {
  display: none;
}
.do-banner__reviews .arrows-right {
  padding-top: 120px;
}
@media screen and (max-width: 1024px) {
  .do-banner__wrapper {
    margin-top: 88px;
  }
  .do-banner__reviews .arrows-left {
    padding-top: 83px;
  }
  .do-banner__reviews .diolog {
    padding: 28px 0;
  }
  .do-banner__reviews .diolog .avatar {
    margin-right: 37px;
  }
  .do-banner__reviews .profile h4 {
    padding: 1.5px 0;
    max-width: 655px;
    font-size: 18px;
    line-height: 21px;
  }
  .do-banner__reviews .profile .nickname .divider-small {
    margin-bottom: 25px;
    margin-right: 37px;
  }
  .do-banner__reviews .profile .nickname h5 {
    margin-top: 14px;
    padding: 1px 0;
    font-size: 24px;
    line-height: 35px;
  }
  .do-banner__reviews .arrows-right {
    padding-top: 83px;
  }
}
@media screen and (max-width: 730px) {
  .do-banner__reviews .diolog .profile .nickname .divider-small {
    margin-left: 0px;
    width: 47.5px;
  }
}
@media screen and (max-width: 670px) {
  .do-banner__wrapper {
    margin-top: 29px;
  }
  .do-banner__reviews {
    flex-direction: column;
  }
  .do-banner__reviews .arrows-left {
    display: none;
  }
  .do-banner__reviews .diolog {
    flex-direction: column;
    align-items: center;
    padding: 28px 0;
    margin: 0;
  }
  .do-banner__reviews .diolog .avatar {
    display: none;
  }
  .do-banner__reviews .diolog .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .do-banner__reviews .diolog .profile h4 {
    max-width: 288px;
    padding: 0;
    font-size: 14px;
    line-height: 16px;
    margin: 22px 0 14px 0;
  }
  .do-banner__reviews .diolog .profile .nickname {
    display: flex;
    flex-direction: row;
  }
  .do-banner__reviews .diolog .profile .nickname .divider-small {
    margin-left: -126px;
  }
  .do-banner__reviews .diolog .dots {
    display: block;
    margin-top: 29px;
  }
  .do-banner__reviews .arrows-right {
    display: none;
  }
}
.footer__body {
  display: flex;
  margin: 72px 15px 0 15px;
}
.footer__body-socials {
  flex-grow: 1;
  margin-top: 20px;
  margin-right: 30px;
}
.footer__body-socials__logo {
  margin-bottom: 26px;
}
.footer__body-socials__info {
  padding: 17.5px 0;
  max-width: 370px;
}
.footer__body-socials__info h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #C6CBCD;
}
.footer__body-socials__followers {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.footer__body-socials__followers h4 {
  margin-right: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 30px;
  text-transform: uppercase;
}
.footer__body-socials__followers h4 span {
  font-size: 18px;
  line-height: 30px;
}
.footer__body-socials__followers h5 {
  margin-top: 7px;
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}
.footer__body-socials__links {
  display: flex;
  border: 1px solid #C6CBCD;
  border-style: groove hidden hidden hidden;
  margin-bottom: 37px;
}
.footer__body-socials__links h6 {
  padding: 14px 0;
  font-style: italic;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #C6CBCD;
  width: 27%;
}
.footer__body-socials__links ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
.footer__body-socials__links ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__body-socials__input {
  max-width: 370px;
  display: flex;
  width: 100%;
}
.footer__body-socials__input input {
  width: 100%;
  height: 55px;
  border: 1px solid #C6CBCD;
  padding: 10px;
}
.footer__body-socials__input input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #C6CBCD;
}
.footer__body-socials__input button {
  width: 134px;
  height: 55px;
  background-color: #95E1D3;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 2px solid #95E1D3;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.footer__body-socials__input button:hover {
  background-color: #FFFFFF;
  color: #95E1D3;
}
.footer__body-blogs {
  flex-grow: 1;
  margin-right: 30px;
}
.footer__body-blogs__title {
  padding: 36px 0;
}
.footer__body-blogs__title h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.footer__body-blogs__card {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
}
.footer__body-blogs__card-descriptions {
  max-width: 270px;
  margin-left: 15px;
}
.footer__body-blogs__card-descriptions a {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  color: #2D3033;
}
.footer__body-blogs__card-descriptions h5 {
  padding: 10px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
}
.footer__body-instagram {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.footer__body-instagram__title {
  padding: 36px 0;
}
.footer__body-instagram__title h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.footer__body-instagram__photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.footer__body-instagram__photos img {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.footer__body-instagram__photos img:hover {
  transform: scale(1.3);
}
.footer__body-instagram__link {
  margin-top: 28px;
}
.footer__body-instagram__link a {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #2D3033;
}
.footer__copyright {
  text-align: center;
  padding: 17.5px 0;
  border: 1px solid #C6CBCD;
  border-style: groove hidden hidden hidden;
  margin-top: 42px;
}
.footer__copyright h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
}
@media screen and (max-width: 1024px) {
  .footer__body {
    display: flex;
    margin-top: 28px;
    margin: 28px 10px 0 10px;
  }
  .footer__body-socials {
    flex-grow: 1;
    margin-top: 20px;
    margin-right: 30px;
  }
  .footer__body-socials__logo {
    margin-bottom: 17px;
    max-width: 95px;
    max-height: 26px;
  }
  .footer__body-socials__info {
    padding: 15.5px 0;
    max-width: 317px;
  }
  .footer__body-socials__info h4 {
    font-size: 14px;
    line-height: 16px;
  }
  .footer__body-socials__followers {
    margin-bottom: 10px;
    margin-right: 30px;
  }
  .footer__body-socials__followers h4 {
    margin-right: 10px;
    font-size: 24px;
    line-height: 30px;
  }
  .footer__body-socials__followers h4 span {
    font-size: 14px;
    line-height: 30px;
  }
  .footer__body-socials__followers h5 {
    margin-top: 5px;
    font-size: 14px;
    line-height: 30px;
  }
  .footer__body-socials__links {
    margin-bottom: 25px;
  }
  .footer__body-socials__links h6 {
    padding: 7.5px 0;
    font-size: 12px;
    line-height: 14px;
    width: 27%;
  }
  .footer__body-socials__input {
    max-width: 317px;
  }
  .footer__body-socials__input input {
    height: 37px;
    padding: 10px;
  }
  .footer__body-socials__input input::placeholder {
    font-size: 14px;
    line-height: 16px;
  }
  .footer__body-socials__input button {
    width: 145px;
    height: 37px;
    font-size: 14px;
    line-height: 16px;
  }
  .footer__body-blogs {
    flex-grow: 1;
  }
  .footer__body-blogs__title {
    padding: 23px 0;
  }
  .footer__body-blogs__title h3 {
    font-size: 18px;
    line-height: 21px;
  }
  .footer__body-blogs__card {
    margin: 10px 0;
  }
  .footer__body-blogs__card-descriptions {
    max-width: 267px;
  }
  .footer__body-blogs__card-descriptions a {
    font-size: 14px;
    line-height: 16px;
  }
  .footer__body-blogs__card-descriptions h5 {
    padding: 5.5px 0;
    font-size: 12px;
    line-height: 13px;
  }
  .footer__body-instagram__title {
    padding: 23.5px 0;
  }
  .footer__body-instagram__title h3 {
    font-size: 18px;
    line-height: 21px;
  }
  .footer__body-instagram__link {
    margin-top: 18px;
  }
  .footer__body-instagram__link a {
    font-size: 12px;
    line-height: 14px;
  }
  .footer__copyright {
    padding: 15px 0;
    margin: 51px 15px 0 15px;
  }
}
@media screen and (max-width: 780px) {
  .footer__body {
    margin: 28px 5px 0 5px;
  }
  .footer__body-socials {
    margin-right: 15px;
  }
  .footer-blogs {
    margin-right: 15px;
  }
}
@media screen and (max-width: 780px) {
  .footer__body {
    display: flex;
    flex-direction: column;
    margin: 52px 15px 0 15px;
    align-items: center;
    justify-content: center;
  }
  .footer__body-socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0px;
  }
  .footer__body-socials__info {
    padding: 7.5px 0;
    max-width: 288px;
    text-align: center;
    margin-bottom: 20px;
  }
  .footer__body-socials__followers {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }
  .footer__body-socials__links {
    width: 100%;
  }
  .footer__body-socials__links h6 {
    padding: 14px 0;
  }
  .footer__body-socials__input {
    max-width: 288px;
    display: flex;
    flex-direction: column;
  }
  .footer__body-socials__input input {
    width: 100%;
    height: 37px;
  }
  .footer__body-socials__input input::placeholder {
    text-align: start;
  }
  .footer__body-socials__input button {
    width: 288px;
    height: 37px;
    margin-top: 24px;
  }
  .footer__body-socials__input button:hover {
    background-color: #FFFFFF;
    color: #95E1D3;
  }
  .footer__body-blogs {
    flex-grow: 1;
    margin-right: 0;
  }
  .footer__body-blogs__title {
    padding: 36px 0;
    text-align: center;
  }
  .footer__body-blogs__card {
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
    margin-bottom: 14px;
  }
  .footer__body-blogs__card-image img {
    max-width: 83px;
    height: 71px;
  }
  .footer__body-blogs__card-descriptions {
    max-width: 192px;
    margin-left: 14px;
  }
  .footer__body-instagram {
    text-align: center;
  }
  .footer__body-instagram__title {
    padding: 31px 0;
  }
}
.reviews__container {
  max-width: 100%;
}
.reviews__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../images/reviews_background.png);
  background-size: cover;
  position: relative;
}
.reviews__header {
  margin: 42px 0;
}
@media screen and (max-width: 1024px) {
  .reviews__header {
    margin: 28px 0;
  }
}
.reviews__text {
  padding: 18px 0;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .reviews__text {
    padding: 10px 0;
  }
}
.reviews__text h4 {
  font-family: "Kaushan Script", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
}
@media screen and (max-width: 1024px) {
  .reviews__text h4 {
    font-size: 24px;
    line-height: 35px;
  }
}
.reviews__title {
  padding: 19px 0;
  text-align: center;
  margin-bottom: 24px;
}
@media screen and (max-width: 1024px) {
  .reviews__title {
    padding: 13px 0;
    margin-bottom: 16px;
  }
}
.reviews__title h2 {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
}
@media screen and (max-width: 1024px) {
  .reviews__title h2 {
    font-size: 24px;
    line-height: 28px;
  }
}
.reviews__cards {
  margin-bottom: 42px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  column-gap: 51px;
  row-gap: 42px;
}
@media screen and (max-width: 1024px) {
  .reviews__cards {
    margin-bottom: 29px;
    column-gap: 53.7px;
    row-gap: 28px;
  }
}
@media screen and (max-width: 730px) {
  .reviews__cards {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(1, 1fr);
    row-gap: 29px;
  }
}
.cards-card {
  display: flex;
}
.cards-card__image {
  margin-right: 50px;
}
@media screen and (max-width: 1024px) {
  .cards-card__image {
    margin-right: 48px;
    width: 88px;
    height: 88px;
  }
}
@media screen and (max-width: 730px) {
  .cards-card__image {
    margin-right: 0;
  }
}
@media screen and (max-width: 730px) {
  .cards-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.info__nick {
  padding: 12px 0;
}
@media screen and (max-width: 1024px) {
  .info__nick {
    padding: 7.5px 0;
  }
}
.info__nick h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
@media screen and (max-width: 1024px) {
  .info__nick h3 {
    font-size: 18px;
    line-height: 21px;
  }
}
.info__direction {
  margin-bottom: 32px;
}
@media screen and (max-width: 1024px) {
  .info__direction {
    margin-bottom: 21px;
  }
}
.info__direction h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}
@media screen and (max-width: 1024px) {
  .info__direction h4 {
    font-size: 14px;
    line-height: 16px;
  }
}
.info__description {
  margin-top: 32px;
  padding: 22px 0;
  max-width: 369px;
}
@media screen and (max-width: 1024px) {
  .info__description {
    margin-top: 21.7px;
    padding: 19px 0;
    max-width: 316px;
  }
}
.info__description h5 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
@media screen and (max-width: 1024px) {
  .info__description h5 {
    font-size: 14px;
    line-height: 16px;
  }
}
.service {
  margin-top: 30px;
}
.service__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1024px) {
  .service__wrapper {
    padding: 0 16px;
  }
}
.service__header {
  margin-top: 42px;
  margin-bottom: 88px;
}
@media screen and (max-width: 1024px) {
  .service__header {
    margin-bottom: 74px;
  }
}
@media screen and (max-width: 530px) {
  .service__header {
    margin-bottom: 72px;
  }
}
.service__text {
  padding: 18px 0;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .service__text {
    padding: 16px 0;
  }
}
.service__text h4 {
  font-family: "Kaushan Script", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
}
@media screen and (max-width: 1024px) {
  .service__text h4 {
    font-size: 24px;
    line-height: 35px;
  }
}
.service__title {
  padding: 19px 0;
  text-align: center;
  margin-bottom: 24px;
}
@media screen and (max-width: 1024px) {
  .service__title {
    padding: 20px 0;
    margin-bottom: 20.5px;
  }
}
.service__title h2 {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
}
@media screen and (max-width: 1024px) {
  .service__title h2 {
    font-size: 24px;
    line-height: 28px;
  }
}
.service__cards {
  margin-bottom: 90px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  column-gap: 37px;
  row-gap: 148px;
}
@media screen and (max-width: 1024px) {
  .service__cards {
    margin-bottom: 58px;
    column-gap: 31.5px;
    row-gap: 65px;
  }
}
@media screen and (max-width: 720px) {
  .service__cards {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 55px;
  }
}
@media screen and (max-width: 530px) {
  .service__cards {
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(1, 1fr);
    row-gap: 42px;
  }
}
.cards__card {
  display: flex;
}
.cards__card-image {
  margin-right: 33px;
}
.cards__card-info {
  padding: 13px 0;
}
@media screen and (max-width: 1024px) {
  .__card-image__photography {
    margin-right: 28px;
    width: 59.35px;
    height: 59.35px;
  }
}
@media screen and (max-width: 530px) {
  .__card-image__photography {
    margin-right: 22px;
    width: 57px;
    height: 57px;
  }
}
.card-info__direction h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
@media screen and (max-width: 1024px) {
  .card-info__direction h4 {
    font-size: 18px;
    line-height: 21px;
  }
}
.card-info__description {
  max-width: 270px;
  padding: 19px 19px 19px 0;
}
@media screen and (max-width: 1024px) {
  .card-info__description {
    padding: 17.5px 17.5px 17.5px 0;
    max-width: 229px;
  }
}
.card-info__description h5 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
@media screen and (max-width: 1024px) {
  .card-info__description h5 {
    font-size: 14px;
    line-height: 16px;
  }
}
.team__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.team__header {
  margin-top: 84px;
}
.team__text {
  padding: 18px 0;
  text-align: center;
}
.team__text h4 {
  font-family: "Kaushan Script", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
}
.team__title {
  padding: 19.5px 0;
  text-align: center;
  margin-bottom: 24px;
}
.team__title h2 {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
}
.team__info {
  padding: 38px 20px;
  text-align: center;
  margin-bottom: 42px;
}
.team__info h5 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.team__body {
  margin-bottom: 84px;
}
.team__cards {
  display: flex;
}
.team__cards-card {
  margin: 0 15px;
}
.team__cards-card:first-child .team__cards-images {
  position: relative;
}
.team__cards-card:first-child .team__cards-images::after {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  bottom: 16px;
  right: 16px;
  content: "";
  z-index: 1;
  background-size: cover;
  background-image: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
}
.team__cards-card:first-child .team__cards-socials {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 190px;
  width: 100%;
  z-index: 100;
}
.team__cards-socials {
  display: none;
}
.team__cards-nick {
  text-align: center;
}
.team__cards-nick h4 {
  padding: 26px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.team__cards-nick h5 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  padding: 4.5px 0;
}
@media screen and (max-width: 1055px) {
  .team__cards-card:first-child .team__cards-socials {
    top: 180px;
  }
}
@media screen and (max-width: 1024px) {
  .team__header {
    margin-top: 57px;
  }
  .team__text {
    padding: 16.5px 0;
  }
  .team__text h4 {
    font-size: 24px;
    line-height: 35px;
  }
  .team__title {
    padding: 20px 0;
    margin-bottom: 21px;
  }
  .team__title h2 {
    font-size: 24px;
    line-height: 28px;
  }
  .team__info {
    padding: 34px 20px;
    margin-bottom: 44.5px;
  }
  .team__info h5 {
    font-size: 14px;
    line-height: 16px;
  }
  .team__body {
    margin-bottom: 58px;
  }
  .team__cards-card {
    margin: 0 10px;
  }
  .team__cards-card:first-child .team__cards-images::after {
    bottom: 4px;
    right: 3px;
  }
  .team__cards-card:first-child .team__cards-socials {
    top: 170px;
  }
  .team__cards-nick h4 {
    padding: 14px 0;
    font-size: 18px;
    line-height: 21px;
  }
  .team__cards-nick h5 {
    font-size: 14px;
    line-height: 16px;
    padding: 1.5px 0;
  }
}
@media screen and (max-width: 870px) {
  .team__cards-card:first-child .team__cards-socials {
    top: 150px;
  }
}
@media screen and (max-width: 770px) {
  .team__cards-card:first-child .team__cards-socials {
    top: 130px;
  }
}
@media screen and (max-width: 670px) {
  .team__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .team__header {
    margin-top: 29px;
  }
  .team__title {
    margin-bottom: 21px;
  }
  .team__info {
    padding: 17px 0;
    margin-bottom: 19px;
  }
  .team__body {
    margin-bottom: 0;
  }
  .team__cards {
    display: flex;
    flex-direction: column;
  }
  .team__cards-card {
    margin: 0 15px;
  }
  .team__cards-card:first-child .team__cards-images {
    position: relative;
  }
  .team__cards-card:first-child .team__cards-images::after {
    display: none;
  }
  .team__cards-card:first-child .team__cards-socials {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -42px;
    max-width: 100%;
    z-index: 100;
  }
  .team__cards-socials {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -42px;
  }
  .team__cards-nick {
    position: relative;
    top: -35px;
  }
}
.team-banner__container {
  max-width: 100%;
}
.team-banner__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F8F8F8;
}
.team-banner__body {
  padding: 42px 0;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
@media screen and (max-width: 530px) {
  .team-banner__body {
    display: grid;
    justify-items: center;
    row-gap: 36px;
    grid-template-areas: "a b" "e e" "d c" "f f";
  }
  .team-banner__body :nth-child(1) {
    grid-area: a;
  }
  .team-banner__body :nth-child(2) {
    grid-area: b;
  }
  .team-banner__body :nth-child(3) {
    grid-area: c;
  }
  .team-banner__body :nth-child(4) {
    grid-area: d;
  }
  .team-banner__body :nth-child(5) {
    grid-area: e;
  }
  .team-banner__body :nth-child(6) {
    grid-area: f;
  }
}
@media screen and (max-width: 530px) {
  .team-banner__body.pictures {
    display: flex;
    align-items: center;
    padding: 0;
  }
}
.team-banner__body.pictures #pattern_1 {
  max-width: 64px;
  max-height: 71px;
}
@media screen and (max-width: 1024px) {
  .team-banner__body.pictures #pattern_1 {
    max-width: 43px;
    max-height: 48px;
  }
}
.team-banner__body.pictures #pattern_2 {
  max-width: 68px;
  max-height: 80px;
}
@media screen and (max-width: 1024px) {
  .team-banner__body.pictures #pattern_2 {
    max-width: 46px;
    max-height: 54px;
  }
}
.team-banner__body.pictures #pattern_3 {
  max-width: 72px;
  max-height: 67px;
}
@media screen and (max-width: 1024px) {
  .team-banner__body.pictures #pattern_3 {
    max-width: 49px;
    max-height: 45px;
  }
}
.team-banner__body.pictures #pattern_4 {
  max-width: 80px;
  max-height: 80px;
}
@media screen and (max-width: 1024px) {
  .team-banner__body.pictures #pattern_4 {
    max-width: 54px;
    max-height: 54px;
  }
}
.team-banner__body.pictures #pattern_5 {
  max-width: 75px;
  max-height: 80px;
}
@media screen and (max-width: 1024px) {
  .team-banner__body.pictures #pattern_5 {
    max-width: 55px;
    max-height: 55px;
  }
}
.team-banner__body.pictures #pattern_6 {
  max-width: 127px;
  max-height: 127px;
}
@media screen and (max-width: 1024px) {
  .team-banner__body.pictures #pattern_6 {
    max-width: 55px;
    max-height: 55px;
  }
}
.work__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.work__header {
  margin: 84px 0 42px 0;
}
@media screen and (max-width: 1024px) {
  .work__header {
    margin: 58px 0 29px 0;
  }
}
.work__text {
  padding: 18px 0;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .work__text {
    padding: 9px 0;
  }
}
.work__text h4 {
  font-family: "Kaushan Script", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
}
@media screen and (max-width: 1024px) {
  .work__text h4 {
    font-size: 24px;
    line-height: 35px;
  }
}
.work__title {
  padding: 19.5px 0;
  text-align: center;
  margin-bottom: 24px;
}
@media screen and (max-width: 1024px) {
  .work__title {
    padding: 13.5px 0;
    margin-bottom: 16px;
  }
}
.work__title h2 {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
}
@media screen and (max-width: 1024px) {
  .work__title h2 {
    font-size: 24px;
    line-height: 28px;
  }
}
.work__info {
  padding: 38px 0;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .work__info {
    padding: 24px 0;
  }
}
.work__info h5 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
@media screen and (max-width: 1024px) {
  .work__info h5 {
    font-size: 14px;
    line-height: 16px;
    max-width: 793px;
  }
}
.work__body {
  width: 100%;
  display: grid;
  grid-template-areas: "a b c d" "e f c g";
}
.work__body-pictures:nth-child(1) {
  grid-area: a;
}
.work__body-pictures:nth-child(2) {
  grid-area: e;
}
.work__body-pictures:nth-child(3) {
  grid-area: b;
}
.work__body-pictures:nth-child(4) {
  grid-area: f;
  position: relative;
}
.work__body-pictures:nth-child(4) #set_4_image {
  display: none;
}
@media screen and (max-width: 670px) {
  .work__body-pictures:nth-child(4) #set_4_image {
    display: block;
    width: 100%;
  }
}
.work__body-pictures:nth-child(4)::after {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  content: "";
  z-index: 1;
  background-size: cover;
  background-image: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%), url(../images/set_4.png);
  opacity: 0.8;
}
@media screen and (max-width: 670px) {
  .work__body-pictures:nth-child(4)::after {
    display: none;
  }
}
.work__body-pictures .cup {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 40px;
}
@media screen and (max-width: 770px) {
  .work__body-pictures .cup {
    margin-top: 25px;
  }
}
@media screen and (max-width: 670px) {
  .work__body-pictures .cup {
    display: none;
  }
}
.work__body-pictures .cup img {
  margin-bottom: 35px;
}
@media screen and (max-width: 870px) {
  .work__body-pictures .cup img {
    margin-bottom: 25px;
  }
}
.work__body-pictures .cup h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 11px 0;
}
@media screen and (max-width: 870px) {
  .work__body-pictures .cup h4 {
    font-size: 18px;
    line-height: 24px;
    padding: 7px 0;
  }
}
@media screen and (max-width: 770px) {
  .work__body-pictures .cup h4 {
    padding: 0;
  }
}
.work__body-pictures .cup h6 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
}
.work__body-pictures:nth-child(5) {
  grid-area: c;
}
@media screen and (max-width: 670px) {
  .work__body-pictures:nth-child(5) img {
    height: 100%;
  }
}
.work__body-pictures:nth-child(6) {
  grid-area: d;
}
.work__body-pictures:nth-child(7) {
  grid-area: g;
}
@media screen and (max-width: 670px) {
  .work__body {
    grid-template-areas: "a c" "e c" "g c" "d b" "f f";
  }
}
.work__reviews {
  display: flex;
  margin: 84px 0;
}
@media screen and (max-width: 1024px) {
  .work__reviews {
    margin: 30px 0;
  }
}
@media screen and (max-width: 670px) {
  .work__reviews {
    flex-direction: column;
  }
}
.work__reviews .arrows-left {
  padding-top: 120px;
}
@media screen and (max-width: 1024px) {
  .work__reviews .arrows-left {
    padding-top: 83px;
  }
}
@media screen and (max-width: 670px) {
  .work__reviews .arrows-left {
    display: none;
  }
}
.work__reviews .men {
  display: flex;
  flex-direction: row;
  padding: 42px 0;
  margin: 0 60px;
}
@media screen and (max-width: 1024px) {
  .work__reviews .men {
    padding: 28px 0;
  }
}
@media screen and (max-width: 670px) {
  .work__reviews .men {
    flex-direction: column;
    align-items: center;
    padding: 28px 0;
    margin: 0;
  }
}
.work__reviews .men .avatar {
  margin-right: 30px;
}
@media screen and (max-width: 1024px) {
  .work__reviews .men .avatar {
    margin-right: 37px;
  }
}
@media screen and (max-width: 670px) {
  .work__reviews .men .avatar img {
    width: 115px;
    height: 115px;
  }
}
@media screen and (max-width: 670px) {
  .work__reviews .men .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.work__reviews .men .profile h4 {
  padding: 6px 0;
  max-width: 770px;
  font-style: italic;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #A9AFB1;
}
@media screen and (max-width: 1024px) {
  .work__reviews .men .profile h4 {
    padding: 1.5px 0;
    max-width: 655px;
    font-size: 18px;
    line-height: 21px;
  }
}
@media screen and (max-width: 670px) {
  .work__reviews .men .profile h4 {
    max-width: 288px;
    padding: 0;
    font-size: 14px;
    line-height: 16px;
    margin: 42px 0 14px 0;
  }
}
.work__reviews .men .profile .nickname {
  display: flex;
  flex-direction: row;
}
.work__reviews .men .profile .nickname .divider-small {
  margin-bottom: 35px;
  margin-right: 56px;
}
@media screen and (max-width: 1024px) {
  .work__reviews .men .profile .nickname .divider-small {
    margin-bottom: 25px;
    margin-right: 37px;
  }
}
@media screen and (max-width: 730px) {
  .work__reviews .men .profile .nickname .divider-small {
    margin-left: 0px;
    width: 47.5px;
  }
}
@media screen and (max-width: 670px) {
  .work__reviews .men .profile .nickname .divider-small {
    margin-left: -77px;
  }
}
.work__reviews .men .profile .nickname h5 {
  margin-top: 21px;
  padding: 5px 0;
  font-family: "Kaushan Script";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
  color: #000000;
}
@media screen and (max-width: 1024px) {
  .work__reviews .men .profile .nickname h5 {
    margin-top: 14px;
    padding: 1px 0;
    font-size: 24px;
    line-height: 35px;
  }
}
.work__reviews .men .dots {
  display: none;
}
@media screen and (max-width: 670px) {
  .work__reviews .men .dots {
    display: block;
    margin-top: 29px;
  }
}
.work__reviews .arrows-right {
  padding-top: 120px;
}
@media screen and (max-width: 1024px) {
  .work__reviews .arrows-right {
    padding-top: 83px;
  }
}
@media screen and (max-width: 670px) {
  .work__reviews .arrows-right {
    display: none;
  }
}
