.about-banner__container {
  max-width: 100%;
}
.about-banner__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: ;
}
