.header {
  background-color: @black-element-color;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  .container {
    position: relative;
  }
  &__wrapper {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }
  &__logo {
    flex-shrink: 0;
    z-index: 1;
    padding-top: 15px;
  }
  &__nav {
    padding-top: 10px;
    .header__list {
      display: flex;
      height: 100%;
      align-items: center;
      li {
        a {
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 16px;
          text-transform: uppercase;
          color: @white-text-color;
          margin: 0 30px;
          text-decoration: none;

          &:hover {
            color: @manhattan-text-color;
            text-decoration: underline;
          }
        }
        img {
          margin: 0 30px;
        }
      }
    }
  }
  &__search {
    display: flex;
  }
  &__burger {
    display: none;
    width: 24px;
    height: 18px;
    margin-right: 35px;
  }
  &__mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100vh + 55px);
    background-image: linear-gradient(
        360deg,
        rgba(237, 215, 137, 0.9) 0%,
        rgba(233, 130, 131, 0.9) 100%
      ),
      url(../images/baner_background.png);
    background-position: center;
    background-size: cover;
    transform: translateY(-100%);
    display: none;
    transition: all 0.8s ease-out;
    z-index: 1;
    &.header__mobile-menu_active {
      transform: translateY(0);
    }
    & a {
      text-decoration: none;
      font-style: normal;
      font-weight: 700;
      font-size: 13px;
      line-height: 15px;
      text-align: center;
      text-transform: uppercase;
      color: @white-text-color;
      min-width: 280px;
      min-height: 63px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
@media screen and (max-width: 530px) {
  .header {
    &__nav {
      display: none;
    }
    &__burger {
      display: flex;
      margin: 0;
      padding: 25px 0 19px 0;
    }
    &__mobile-menu {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
.burger {
  position: relative;
  margin: 0 auto;
  padding: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  background: transparent;
  border: none;
  z-index: 101;
  & span {
    display: block;
    position: absolute;
    height: 3px;
    width: 50%;
    background: #ffffff;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;

    &:nth-child(even) {
      left: 50%;
    }
    &:nth-child(odd) {
      left: 0px;
    }
    &:nth-child(1),
    &:nth-child(2) {
      top: 0px;
    }
    &:nth-child(3),
    &:nth-child(4) {
      top: 7.5px;
    }
    &:nth-child(5),
    &:nth-child(6) {
      top: 15px;
    }
  }
  &.open span {
    &:nth-child(1),
    &:nth-child(6) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &:nth-child(2),
    &:nth-child(5) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    &:nth-child(1) {
      left: 2px;
      top: 4px;
    }
    &:nth-child(2) {
      left: calc(50% - 2px);
      top: 4px;
    }
    &:nth-child(3) {
      left: -50%;
      opacity: 0;
    }
    &:nth-child(4) {
      left: 100%;
      opacity: 0;
    }
    &:nth-child(5) {
      left: 2px;
      top: 12px;
    }
    &:nth-child(6) {
      left: calc(50% - 2px);
      top: 12px;
    }
  }
}
